/*-------------------VARIABLES ---------------*/
:root{
    --negro: black;
    --blanco: white;
    --fondo: aquamarine;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--fondo);
    /* Aqui imagen de fondo
    background-image: url(ruta/ .jpg);
    Me va a quedar una imagen q se ajusta responsive al ancho y al largo 
    background-size: 100vw 100vh;
    para que la imagen se quede fija aunque se cee scroll
    background-attachment: fixed;

     */
     
     
     font-family: Arial, Helvetica, sans-serif;
    
}
/*---------------------- CABECERA --------------------*/
.cabecera-logo, .nav {
    max-width: 1000px;
    margin: auto;
    

}
.cabecera{

    background-color: chartreuse;
    padding: 5px 0;   
    margin: 0 20px; 
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.cabecera-logo{
    background-color: salmon;
    display: flex;
   

    justify-content: space-between;
    align-items: center;
   /* flex-wrap: wrap;*/
    
          
}

.div-form{
    display: flex;
    
}
.div-form_input{
    font-size: 15px;
    width: 300px;
    padding: 2px;
}
.div-form_boton{
    
    cursor: pointer;
    padding: 0 15px;
    /*background: none;
    border: none;*/

}
.div-form_boton::before{
    content: url(lupa.png);
    
}


.div-botoncrear, .div-botoniniciar{
    border: none;
   font-size: 15px;
   text-decoration: none;
   color: var(--negro);
   padding-left: 4px;
    
}
.div-botoniniciar:hover{
    text-decoration: underline;
}
.div-botoncrear:hover{
    text-decoration: underline;
}
 /*-------------Estilos del menu-----------*/
 .nav{
     background-color: blueviolet;    
    padding: 10px;
    padding-left: 45px;
    margin-bottom: 0;

}
.btn{

    display: none;
}
.nav-lista{
    
    list-style: none;

    display: flex;
   

}
.nav-lista_item{
    border-left: 0.5px solid rgb(158, 156, 150);
}
.nav-lista_item-link{
   
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bolder;
    color: var(--negro);
    transition: all 0.4s linear;
    border-radius: 5px;

}
.nav-lista_item-link:hover{
    background: rgb(158, 156, 150);
 
}
.iniciar, .registrarse{
    display: none;
    background: rgb(219, 218, 218, 0.5);
    font-weight: lighter;

}
.nav-sublista{
    background-color: chocolate;
    display: none;
    list-style: none;
    position: absolute;
    /*min-width: 140px;*/
    padding: 10px 0;

}
.nav-sublista_item{

    border-bottom: 0.5px solid rgb(218, 215, 215);
}
.nav-sublista_item-link{
   
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bolder;
    color: black;
    transition: all 0.4s linear;
    border-radius: 5px;

}

.nav-sublista_item-link:hover{
    background: rgb(158, 156, 150);

       
}
.productos:hover .nav-sublista {
    display: block;
}

/*--------------inicia contenedor-----------*/
.contenedor{
    background-color: var(--blanco);
    max-width: 1000px;
    margin: auto;
    padding-top: 170px;
}
.text-populares{
    display: block;
    padding-left: 60px;    
    padding-bottom: 5px;
    font-style: oblique;

}
/*-----------------Slider de imagenes-------------*/
.slider{
    /*
        si tengo un slider de imagenes real deberia hacer:text-align: text-align:
         display: flex;
        justify-content: center; */
    text-align: center;
    background-color: red;
    margin-bottom: 20px;
   
    
}
/*-------------------- footer----------------*/
.footer{
    background-color: violet;
    display: flex;
    gap: 30px;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    padding: 40px;
    padding-top: 5px;
    padding-bottom: 20px;
    border-top: 1px solid var(--negro);
    font-weight:normal;
}
.footer-nav{
    background-color: salmon;
}
.footer-redes{

    flex-grow: 1;
}
.footer-redes_imagen{
    background-color: chocolate;
    margin-bottom: 5px;
    
}

.footer-titulo{
    font-size: 15px;
    background-color: yellowgreen;
    padding-bottom: 5px;
    margin-bottom: 2px;
    
}
.footer-news{
    padding: 4px;
    width: 300px;

}
.instagram, .whatsaap, .facebook{
    padding-left: 4px;
}
.instagram, .whatsaap, .facebook:hover{
    cursor: pointer;

}
.footer-form_boton::before{
    content: url(enviar.png);
}
.footer-form_boton{
    background: none;
    border: none;
    cursor: pointer;
}
.footer-lista{
    background-color: yellow;
    font-size: 15px;
    
    
}
.footer-lista_item{
    background-color: turquoise;
    list-style: none;
    
    
   

}
.footer-lista_item-link{
    background-color: rgb(208, 208, 230);
    
    text-decoration: none;
    color: var(--negro);
    padding: 3px 0;
    display: block;
    
}
.footer-lista_item:hover{
    text-decoration:underline;

}
.footer-redes{
    background-color: springgreen;
}
.footer-datos{
    font-size: 15px;
    background-color: whitesmoke;
    
}
.footer-datos_direccion{
    background-color: rgb(226, 81, 137);
    font-style: normal;
    font-size: 15px;
    

}
/*-----------------------FORMULARIO DE CONTACTO---------------*/
.div-contacto{
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4) ;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}
h1{
    margin: 0;
    font-size: 23px;
    margin-bottom: 20px;
}
h2{
    margin: 0;
    font-size: 17px;
    margin-bottom: 20px;
}

.form-label{
    font-size: 14px;
}

.form-nombre, .form-email, .form-tel, .form-area, .form-boton{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 14px;
    border: none;
}
.form-area{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;

}
.form-boton{
    background: rgb(123, 122, 212);
    color: var(--negro);
    padding: 20px;
}
.form-boton:hover{
    cursor: pointer;
}
/*----------------------QUIENES SOMOS ------------------------*/
.contenedor-info{
    display: flex;
    text-align: center;
}
.contenedor-imagen{

    background-color: rgb(241, 82, 194);
}
.contenedor-texto{
    background-color: rgb(241, 253, 71);
    margin: 0 20px;
    text-align: justify;

}


/*-------------Responsive ---------------- */

@media (max-width: 768px) {
    /*:root {
        --espacio: 10px   puedo setear variables
    }*/
    .btn{
        display: block;
    }
    .nav{
        display: none;
    }
    .div-form_input{
        display: none;
    }
    .div-botoncrear, .div-botoniniciar{
        display: none;
    }
    .iniciar, .registrarse{
        display: block;
    }
    .modificar{
        display: block;
        border: 0.5px solid rgb(218, 215, 215);
    }
    .nav-lista {
        flex-direction: column;
        /*display: block;*/
        
    }
    .nav-lista_item{
        border: none;
        border-bottom: 0.5px solid rgb(218, 215, 215)  ;
        padding: 10px 0;
    }

    /* ------------------Responsive de Quienes somos--------*/
    .contenedor-info{
        display: block;
    }

    
}



@media (max-width:375px){
    /*-------------Responsive de Cabecera ---------------- */
    .div-form_input{
        display: none;
    }

    

/* ----------------- responsive de contactos ----------*/
    .div-contacto{
        width: 100%;
    }
    /*----------Responsive para footer--------------*/
    .footer{
        display: block;
    }
    .footer-redes{
        margin-bottom: 5px;
    }
    .footer-nav{
        margin-bottom: 5px;
    }
    
}